.upload_field_to_youtube_for_acf__wrapper .upload_field_to_youtube_for_acf__spinner {
    display: none;
}
.upload_field_to_youtube_for_acf__wrapper .upload_field_to_youtube_for_acf__spinner .spinner {
    float: none;
    margin: 0;
}
